* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

:root {
    --text-color: white;
    --bg-url: url(./Asset/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --suface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --highlight-color:rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(Asset/Sun.svg)
    
}

.light {
    --text-color: black;
    --bg-url: url(./Asset/bg-mobile-Light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --suface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.2);
    --highlight-color:rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(Asset/MoonStars.svg)
    
    
}

body {
    /*
    background-image: url(./Asset/bg-mobile.jpg);
    background-repeat: no-repeat;  
    background-position: top center;
    background-size: cover;
*/
/*background: color image repeat position/size */

    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

#container {
    width: 360px;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
    
}

/* profile */

#profile{
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 120px; 
}  

#profile p {
font-weight: 500;
line-height: 24px;
}

/* switch */
#switch {
    position: relative;
    width: 64px;

    margin: 4px auto;
}

#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);

    animation: slide-back 0.2s;
}


.light #switch button{
    animation: slide-in 0.4s both;

}

#switch button:hover{
    outline: 8px solid var(--highlight-color);
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    --webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

/* Links */

ul {
    list-style: none; 
    /* cada elemento da minha coluna está recebendo um alinhamento flixivel para cada coluna */
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 24px 0;
}

ul li a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px 24px;

    background: var();
    border: 1px solid var(--stroke-color);
    border-radius: 8px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    /* Ajustando a fontes dos link */
    text-decoration: none;
    font-weight: 500;

    /*  transição dos botões */
    transition: backgroun 0.2s;
}

    /* pseudo-selector */
ul li a:hover {
    background: var(--surface-color-hover);
    border: 1px solid var(--text-color);
}

/* social-links */

#social-links {
    display: flex;
    justify-content: center;

    padding: 16x 0;

    font-size: 24px;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;

    transition: background 0.2s;
    border-radius: 50%;
}


#social-links a:hover {
    background: var(--surface-color-hover);
    padding: 24px;  
}

footer {
    padding: 24px 0;
    text-align: center;
    font-size: 14px  ;
}

/* media queries */
@media (min-widht: 700px) {
    :root {
        --bg-url: url(./Asset/bg-desktop.jpg);
    }

    .light {
        --bg-url: url(./Asset/bg-desktop-light.jpg);
    }
}

    /* animation */
@keyframes slide-in {
    from {
        left: 0;
    }

    to {
        left: 50%;
    }
}

@keyframes slide-back {
    from {
        left: 50%;
    }

    to {
        left: 0;
    }

}


